<ion-view view-title="Create An Account">
  <ion-content class='content'>
    <div class="loginPadding">
      <h1 class="PageTitles">Create a Parent account</h1>
      <form ng-submit="createParent()">
        <label class="PageTitles">Name
          <input type="text" placeholder="name" name="name" ng-model="newParent.name">
        </label>
        <label class="PageTitles">Email
          <input type="text" placeholder="email" name="email" ng-model="newParent.email">
        </label>
        <label class="PageTitles">Password
          <input type="text" placeholder="password" name="password" ng-model="newParent.password">
        </label>
        <div class="padSubmitButton">
          <button class="submitButton button button-calm" type="submit">Submit</button>
        </div>

      </form>

    </div>
  </ion-content>
</ion-view>
