<ion-view view-title="Create An Account">
  <ion-content>
    <div class="loginPadding">
      <h1>Create a Parent account</h1>
      <form ng-submit="createParent()">
        <label for=""><h3>Name</h3>
          <input type="text" placeholder="name" name="name" ng-model="newParent.name">
        </label>
        <label for="">Email
          <input type="text" placeholder="email" name="email" ng-model="newParent.email">
        </label>
        <label for="">Password
          <input type="text" placeholder="password" name="password" ng-model="newParent.password">
        </label>
        <button type="submit">Submit</button>


      </form>

    </div>
  </ion-content>
</ion-view>
