<ion-view view-title="Create An Account">
  <ion-content>
    <div class="loginPadding">
      <h1>Create a Parent account</h1>
      <form ng-submit="createParent()">
        <label for=""><h3>Name</h3>
          <input type="text" placeholder="name" ng-model"newParent.name">
        </label>
        <!-- <label for="">Email
          <input type="text" ng-model"newParent.email">
        </label>
        <label for="">Password
          <input type="text" ng-model"newParent.password">
        </label> -->


      </form>

    </div>
  </ion-content>
</ion-view>
