<ion-view view-title="Login Page">
  <ion-content>
      <h1>Login</h1>
      <form ng-submit="login()">
          <label>Username</label>
          <input type="text" placeholder="username" name="username" ng-model="loginForm.username" required>
        </div>
          <label>Password</label>
            <input type="password" placeholder="password" name="password" ng-model="loginForm.password" required>
          </div>
          <div>
            <button type="submit">Login</button>
          </div>
      </form>
  </ion-content>
</ion-view>
