<ion-view view-title="Start New Trip">
  <ion-content class="content">
    <div class="summary">
      <h1 class="PageTitles">name: {{ currentChild.name }}</h1>
      <div ng-controller="NewTripCtrl">
        <div>
          <button ng-click="startTrip()" type="button" class="padSubmitButton button button-balanced">
            Start Trip
          </button>
          <button ng-click="stopTrip()" type="button" class=" padSubmitButton button button-assertive">
            Stop Trip
          </button>
        </div>
        <div>
          <ul>
            <li>this is the lat: {{ lat }}</li>
            <li>this is the long: {{ long }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

 
